<% if @work.errors.any? %>
  <h3>Please try again:</h3>
  <ul>
    
      <% @work.errors.messages.each do |k, v| %>
        <% v.each do |msg| %>
        <li>
          <strong> <%= k %>:</strong> <%= msg %>
          </li>
        <% end %>
      
    </ul>
  <%end%>
<%end%>

<%= form_with model: @work, class: 'work-form' do |f| %>
  

    <%= f.label :category, "Category", class: 'work-label'%>
   <%= f.select :category, [ 'album', 'book', 'movie' ], class: "work-input"%>

    
 
    <%= f.label :title, "Title:", class: 'work-label' %>
    <%= f.text_field :title, class: 'work-input' %>

    <%= f.label :creator, "Creator:", class: 'work-label' %>
    <%= f.text_field :creator, class: 'work-input' %>

    <%= f.label :publication_year, "Publication Year", class: 'work-label' %>
    <%= f.text_field :publication_year, class: 'work-input' %>

    <%= f.label :description, "Description", class: 'work-label' %>
    <%= f.text_field :description, class: 'work-input' %>
  
  <%= f.submit "Save", class: 'save-button' %>
<% end %>